In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

–£—Å–ª–æ–≤–∏–µ: –¥–∞–Ω–∞ —Ç–∞–±–ª–∏—Ü–∞ —Å –∫–æ–ª–æ–Ω–∫–∞–º–∏ (id, name, salary, managerId), —Å—Ç—É–¥–µ–Ω—Ç–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –Ω–∞–ø–∏—Å–∞—Ç—å –∫–æ–¥ –Ω–∞ spark, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–∑–¥–∞—Å—Ç —ç—Ç—É —Ç–∞–±–ª–∏—Ü—É (–¥–∞–Ω–Ω—ã–µ —É–∫–∞–∑–∞–Ω—ã –Ω–∏–∂–µ) –∏ –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –≤—ã–¥–∞—Å—Ç —Ç–∞–±–ª–∏—Ü—É –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥—É—Ç –∏–º–µ–Ω–∞ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞—é—Ç –±–æ–ª—å—à–µ —Å–≤–æ–∏—Ö –º–µ–Ω–µ–¥–∂–µ—Ä–æ–≤.
![–∏–∑–æ–±—Ä–∞–∂–µ–Ω–∏–µ_2024-11-30_132149853.png]()

In [4]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [16]:
from pyspark.sql.functions import sum, avg, when, max
from pyspark.sql import functions as F

In [86]:
spark = SparkSession.builder.master('local[*]').appName('transf_test').getOrCreate()

In [66]:
employees = spark.createDataFrame([ [1, 'Joe', 70, 3],
    [2, 'Henry', 80, 4],
    [3, 'Sam', 60, None],
    [4, 'Max',  90, None]], ['id','name', 'salary', 'managerid'])

In [15]:
employees.show()

+---+-----+------+---------+
| id| name|salary|managerid|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

In [21]:
employees.select(['id', 'name', 'salary']).orderBy(employees.salary.desc()).show(1)

+---+----+------+
| id|name|salary|
+---+----+------+
|  4| Max|    90|
+---+----+------+
only showing top 1 row

In [31]:
employees.select(['name']).orderBy(employees.salary.desc()).show(1)

+----+
|name|
+----+
| Max|
+----+
only showing top 1 row

In [87]:
#–µ—Å–ª–∏ –±–æ–ª—å—à–µ –æ–¥–Ω–æ–π –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—Ä–ø–ª–∞—Ç—ã?
persons = spark.createDataFrame([
    [1, 'Joe', 70, 3],
    [2, 'Henry', 80, 4],
    [3, 'Sam', 60, None],
    [4, 'Max',  90, None],
    [5, 'John', 75, 4],
    [6, 'Patrick', 90, 4]])\
.toDF('id','name', 'salary', 'managerid')

In [89]:
df = persons.agg(max(persons.salary).alias('max_salary'))
persons_max_salary = persons.filter(persons.salary == df.collect()[0]['max_salary'])
persons_max_salary.select(['name']).show()

+-------+
|   name|
+-------+
|    Max|
|Patrick|
+-------+



---


—É–≤–∏–¥–µ–ª–∞, —á—Ç–æ –Ω–∞–ø—É—Ç–∞–ª–∞ —Å –∑–∞–¥–∞–Ω–∏–µ–º –∏ –ø—Ä–æ—Å—Ç–æ –≤—ã–≤–æ–∂—É –∏–º—è —Ç–æ–≥–æ, –∫—Ç–æ –±–æ–ª—å—à–µ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö
–∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç; –∏—Å–ø—Ä–∞–≤–ª—è—é—Å—å

In [67]:
employees.show()

+---+-----+------+---------+
| id| name|salary|managerid|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

In [72]:
manager_names = employees.withColumn('manager_name', when(employees.managerid == 3, 'Sam')
                     .when(employees.managerid == 4, 'Max')
                     .when(employees.managerid.isNull(), 'No manager')
                     .otherwise(employees.managerid))
manager_salaries = manager_names.withColumn('manager_salary', when(manager_names.manager_name == 'Sam', 60)
                     .when(manager_names.manager_name == 'Max', 90).otherwise(None))

In [84]:
salary_filter = manager_salaries.filter(manager_salaries.salary > manager_salaries.manager_salary)
salary_filter.select('name').show()

+----+
|name|
+----+
| Joe|
+----+

—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ, –µ—Å—Ç—å –±–æ–ª–µ–µ –ø—Ä–æ—Å—Ç–æ–π —Å–ø–æ—Å–æ–±...
üòû